html {
    font-family: Verdana, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    padding-top: 3rem;
    color: #335576;
}
a {
    color: #335576;
}
h1 {
    font-size: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}
h2, h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 0;
}
/* MAIN-NAV */
.main-nav {
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
}
.main-nav__menu-button-open {
    display: none;
}
.main-nav__home-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.main-nav__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
}
.main-nav__list-item {
    padding: 0 0.75rem;
}
.main-nav__list-item-link {
    text-decoration: none;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid #FFFFFF;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.main-nav__list-item-link--active {
    border-bottom: 4px solid #DB7A4E;
}
.main-nav__list-item-link:after {
    display:block;
    padding-bottom: 0.5rem;
    content: '';
    border-bottom: 4px solid #335576;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.main-nav__list-item-link:hover:after { 
    transform: scaleX(1);
}
/* MAIN-NAV END */
/* MAIN-FOOTER */
.main-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 12.5rem 2.25rem 12.5rem;
    box-sizing: border-box;
    background-color: #FEFAF5;
}
.main-footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-footer__hours-container {
    display: flex;
    justify-content: space-between;
}
.main-footer__hours {
    margin-right: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 0.75rem;
}
.main-footer__heading {
    margin-bottom: 2rem;
}
.main-footer__sub-heading {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #DB7A4E;
}
.main-footer__details {
    text-transform: capitalize;
    font-size: 0.85rem;
    margin-bottom: 0;
    margin-top: 0.75rem;
}
.main-footer__email-link {
    display: inline-block;
    text-transform: lowercase; 
    text-decoration: none;
}
.main-footer__social-links {
    display: flex;
    justify-content: space-between;
}
.main-footer__social-link {
    margin-right: 1.75rem;
    padding-top: 0.5rem;
}
.main-footer__social-link--no-margin-right {
    margin-right: 0rem;
}
.main-footer__social-image {
    height: 1.5rem;
}
.main-footer__social-link,
.main-footer__email-link,
.main-footer__hours {
    border-bottom: 4px solid #FEFAF5;
}
.main-footer__social-link:after,
.main-footer__email-link:after {
    display: block;
    padding-bottom: 0.5rem;
    content: '';
    border-bottom: 4px solid #DB7A4E;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.main-footer__social-link:hover:after,
.main-footer__email-link:hover:after { 
    transform: scaleX(1);
}
/* MAIN-FOOTER END */
/* CARD */
.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7.5rem;
    box-sizing: border-box;
}
.card-container__card {
    position: relative;
    width: 26%;
    height: 22.5rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    overflow: hidden;
}
.card-container__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DB7A4E;
    opacity: 0;
    transition: opacity .5s ease-out;
}
.card-container__overlay:hover {
    opacity: 0.4;
}
/* CARD END */